.container {
    box-sizing: border-box;
    width: 70%;
    padding: 2rem;
  }
  .decorative-title {
    position: relative;
    width: 60%;
    margin: 0 auto;
  }
  .decorative-title span {
    display: block;
    padding: 2rem 0.5rem 1rem;
    background-color: #ff1818;
    color: #df0b0b;
    text-align: center;
    font: 1rem sans-serif;
    letter-spacing: 0.3rem;
  }
  @media (min-width: 576px) {
    .decorative-title {
      width: 110%;
    }
    .decorative-title span {
      font-size: 3rem;
    }
  }
  .decorative-bar {
    position: absolute;
    background-color: #632323;
  }
  .left.thick {
    left: -50px;
  }
  .left.thin {
    right: 0;
  }
  .left.vertical,
  .left.horizontal.thick {
    top: -20px;
  }
  .left.horizontal.thin {
    top: -20px;
  }
  .right.thick {
    right: -70px;
  }
  .right.thin {
    left: 0;
  }
  .right.vertical,
  .right.horizontal.thick {
    bottom: 450px;
  }
  .right.horizontal.thin {
    bottom: 430px;
  }
  .vertical {
    width: 8px;
    height: 80px;
  }
  .horizontal.thick {
    width: 50%;
    height: 8px;
  }
  .horizontal.thin {
    width: 90%;
    height: 10px;
  }
  
  @media screen and (min-width: 768px) {
    .navbar-links {
      display: flex;
      align-items: center;
    }
  }

  @media (min-width: 576px) {
    .decorative-title {
      width: 110%;
    }
    .decorative-title span {
      font-size: 3rem;
    }
  }